@import url("https://fonts.cdnfonts.com/css/melody-jazzy");

.gallery-style-item {
  width: 100svw;
  height: 50vh; /* Adjust the height as needed */
}

.style-name {
  text-align: center;
  font-family: "Melody Jazzy", sans-serif;
  font-size: 10vh;
  color: black;
}
